* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #596781;
    font-family: 'Open Sans', sans-serif;
}

header {
    font-size: 3rem;
    font-weight: bold;
}

#message {
    margin: 0.5em;
}

#controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2vmin;
}

#controls>.hidden {
    display: none;
}

#game {
    border: 0.5vmin solid #383838;
    background-color: #7a7a7a;
    width: 85vmin;
    height: 85vmin;
    border-radius: 1%;
    font-size: 150%;
}

#board {
    display: grid;
    grid-auto-flow: column;
    width: 100%;
    height: 100%;
}

#board>.unhidden {
    background-color: #ececec;
}

#board>div {
    position: relative;
    background-color: #c2c2c2;
    border: 0.4vmin solid #999999;
    margin: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#board>div>img {
    position: absolute;
    width: 80%;
    height: 80%;
    object-fit: cover;
    margin: auto;
}

#board>div>img:nth-child(1) {
    z-index: 1;
}

#board>.hidden:hover {
    background-color: #cfcfcf;
    border: 0.4vmin solid #596781;
}

.mine8 {
    color: violet;
}
.mine7 {
    color: purple;
}
.mine6 {
    color: red;
}
.mine5 {
    color: orange;
}
.mine4 {
    color: #e3d409;
}
.mine3 {
    color: green;
}
.mine2 {
    color: springgreen;
}
.mine1 {
    color: dodgerblue;
}